<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
{% block others %}

    <link rel='stylesheet' href="{% static 'main.css' %}">
{% endblock %}
{% block contentMain %}
    <div>
        <div id="container-a">
            <div id="text1">
                <div id="text_title"><p><strong>10만원으로 <br>자취방 구하기</strong>
                    <p>
                </div>
                <p>대한민국에서 10만원으로 <br> 자취방구하기? 불가능</p>
                <div class="button1">
                    <button> ▶ 재생</button>
                    <button> 상세정보</button>
                </div>
            </div>
        </div>
    </div>


    <div class="main_content_box">
        <div class="main_title"><h2>나 혼자 요리 한다</h2></div>
        <div class="content_box">
            <div class="btn-area">
                <button type="button" class="slider-btn" onclick="prev(this)"><i class="fas fa-chevron-left"></i>
                </button>
            </div>
            <div class="slide-wrapper"> {# slier-wrap#}
                <ul class="slides"> {#slider-main#}
                    {% for content in contents %}
                        {% if content.categories_id == 2 %}
                            <li class="item">
                                <a href="{% url 'content' content.pk %}">
                                    <div class="screen">
                                        <div class="bottom">{{ content.title }}</div>
                                        <img src=" {{ content.thumbnailURL }}">
                                    </div>
                                </a>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
            <div class="btn-area">
                <button type="button" class="slider-btn" onclick="next(this)"><i class="fas fa-chevron-right"></i>
                </button>
            </div>
        </div>
    </div>

    <div class="main_content_box">
           <div class="main_title"><h2>나 혼자 집 구한다</h2></div>
        <div class="content_box">
            <div class="btn-area">
                <button type="button" class="slider-btn" onclick="prev(this)"><i class="fas fa-chevron-left"></i>
                </button>
            </div>
            <div class="slide-wrapper"> {# slier-wrap#}
                <ul class="slides"> {#slider-main#}
                    {% for content in contents %}
                        {% if content.categories_id == 1 %}
                            <li class="item">
                                <a href="{% url 'content' content.pk %}">
                                    <div class="screen">
                                        <div class="bottom">{{ content.title }}</div>
                                        <img src=" {{ content.thumbnailURL }}">
                                    </div>
                                </a>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
            <div class="btn-area">
                <button type="button" class="slider-btn" onclick="next(this)"><i class="fas fa-chevron-right"></i>
                </button>
            </div>
        </div>
    </div>

    <div class="main_content_box">
           <div class="main_title"><h2>나 혼자 청소 한다</h2></div>
        <div class="content_box">
            <div class="btn-area">
                <button type="button" class="slider-btn" onclick="prev(this)"><i class="fas fa-chevron-left"></i>
                </button>
            </div>
            <div class="slide-wrapper"> {# slier-wrap#}
                <ul class="slides"> {#slider-main#}
                    {% for content in contents %}
                        {% if content.categories_id == 4 %}
                            <li class="item">
                                <a href="{% url 'content' content.pk %}">
                                    <div class="screen">
                                        <div class="bottom">{{ content.title }}</div>
                                        <img src=" {{ content.thumbnailURL }}">
                                    </div>
                                </a>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
            <div class="btn-area">
                <button type="button" class="slider-btn" onclick="next(this)"><i class="fas fa-chevron-right"></i>
                </button>
            </div>
        </div>
    </div>

    <div class="main_content_box">
           <div class="main_title"><h2>나 혼자 운동 한다</h2></div>
        <div class="content_box">
            <div class="btn-area">
                <button type="button" class="slider-btn" onclick="prev(this)"><i class="fas fa-chevron-left"></i>
                </button>
            </div>
            <div class="slide-wrapper"> {# slier-wrap#}
                <ul class="slides"> {#slider-main#}
                    {% for content in contents %}
                        {% if content.categories_id == 3 %}
                            <li class="item">
                                <a href="{% url 'content' content.pk %}">
                                    <div class="screen">
                                        <div class="bottom">{{ content.title }}</div>
                                        <img src=" {{ content.thumbnailURL }}">
                                    </div>
                                </a>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
            <div class="btn-area">
                <button type="button" class="slider-btn" onclick="next(this)"><i class="fas fa-chevron-right"></i>
                </button>
            </div>
        </div>
    </div>

    <div class="main_content_box">
           <div class="main_title"><h2>나 혼자 잘~ 산다! 혼플릭스가 추천하는 자취생 필수 웹사이트 !! </h2></div>
        <div class="content_box">
            <div class="btn-area">
                <button type="button" class="slider-btn" onclick="prev(this)"><i class="fas fa-chevron-left"></i>
                </button>
            </div>
            <div class="slide-wrapper"> {# slier-wrap#}
                <ul class="slides"> {#slider-main#}
                            <li class="item">
                                <a href="">
                                    <div class="screen">
                                        <div class="bottom">필수 앱!!</div>
                                        <img src="{% static '/image/sample.png' %}">
                                    </div>
                                </a>
                            </li>
                </ul>
            </div>
            <div class="btn-area">
                <button type="button" class="slider-btn" onclick="next(this)"><i class="fas fa-chevron-right"></i>
                </button>
            </div>
        </div>
    </div>

    <script>
    function next(t) {
        var elm = t.parentElement.parentElement.children[1].children[0];
        var item = elm.getElementsByClassName("item");
        elm.append(item[0]);
    }
    function prev(t){
        var elm = t.parentElement.parentElement.children[1].children[0];
        var item = elm.getElementsByClassName("item");
        elm.prepend(item[item.length - 1]);
    }



    </script>
{% endblock %}