<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
{% block others %}

    <link rel='stylesheet' href="{% static '../static/my_page.css' %}">
{% endblock %}
{% block myPage %}
<div id="mypage_container">
    <div class="mypage_text"><h3>{{ user.username }}님의 찜 리스트</h3></div>
    {% if not wishlists %}
        <div class="no_content"><p>"찜한 콘텐츠가 없습니다."</p></div>
    {% else %}
        {% for content in wishlists %}
            <div class="zzim_content">
                <a href="/content/{{ content.pk }}">
                <img class="zzim_box" src="{{ content.thumbnailURL }}">
            </a>
            </div>
        {% endfor %}
    {% endif %}

</div>

{% endblock %}