<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>회원가입</title>
    <link rel="stylesheet" href="../main/static/signup.css">
</head>
<body>
<section>
    <div class="nav-bar">
        <img class="logo" src="../main/img/logo4.png">
    </div>
    <div class="login-box">
        <div class="login-input">
            <h1 id="login-text">회원가입</h1>
            <div class="login-1">
                <input id="username" type="text" name="username" placeholder="아이디">
                <label for="username">아이디</label>
            </div>
            <div class="login-1">
                <input id="password" type="password" name="password" placeholder="비밀번호">
                <label for="password">비밀번호</label>
            </div>
            <div class="login-1">
                <input id="nickname" type="text" name="nickname" placeholder="닉네임">
                <label for="nickname">닉네임</label>
            </div>
            <div class="login-1">
                <input id="e-mail" type="text" name="e-mail" placeholder="이메일">
                <label for="e-mail">이메일</label>
            </div>
            <button class="login-btn">회원가입</button>
        </div>

    </div>
</section>

</body>
</html>