*{font-family: 'Noto Sans KR', sans-serif;}
body {
    background-color: black;
    margin: 0 auto;
}
.base_logo{
    width: 50px;
}
.base_container{
    width: 100%;
}
.nav-list {
    margin: 50px;
}
.signin, .signup, .logout {
    padding-right: 10px;
}

.my-page {
    padding-left: 20px;
}

.page-logo {
    border-radius: 4px;
}

.btn {
    background-color: red;
    color: white;
    font-size: 15px;
    border: none;
    border-radius: 7px;
    font-family: sans-serif;
    margin: 0px 0;
    width: 80px;
    height: 35px;
}

.btn:hover {
    background-color: orangered;
    color: white;
}

.btn:active {
    background-color: darkred;
    color: white;
}
