
*{font-family: 'Noto Sans KR', sans-serif;}
body{
    background-color: black;
        margin: 0 100px;
}
#content_container{
    max-width:1200px;
    margin: 0 auto;
    color: white;
}
.player_header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 20px;
}
.player_title{
    font-size: 40px;
    font-weight: bold;
}
.save_content{
    display: flex;
    justify-content: right;
    bottom: 0;
}
.save_content_icon{
    width: 50%;
    padding-top: 25px;
}
.comment_header{
    position: relative;
}
.comment_title{
    padding-top: 60px;
    padding-bottom: 26px;
    font-size: 30px;
    font-weight: bold;
}
#comment_box{
    background-color: #3A3A3A;
    width: 1140px;
    border: 0.2px solid darkgray;
    border-radius: 0;
    font-size: 16px;
    padding: 30px;
    outline: none;
    resize: none;
    color: white;
}
.comment_save_wrap{
    width: 1200px;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top:0px;
}
#comment_cnt{
    color: #959595;
}
#comment_save{
    width: 100px;
    background-color: transparent;
    border: 0.2px solid white;
    font-size: 16px;
    opacity: 50%;
    color: white;
}
#comment_save:hover{
    opacity:100%;
    transition-duration: 0.1s;
}
.comment_card {
    margin-top: 50px;
    border-bottom: 0.2px solid white;
}
.comment_card_header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.comment_card_profile{
    display: flex;
    flex-direction: row;
    align-items:center;
}
.comment_id{
    margin-right: 15px;
    font-size: 21px;
}
.comment_date{
    opacity: 50%;
    font-size: 14px;
}
.comment_delete_icon{
    width: 30px;
    opacity: 50%;
}
.comment_delete_icon:hover{
    opacity: 100%;
    transition-duration: 0.2s;
}
.comment_card_comment{
    margin-top: 15px;
    font-size: 16px;
    padding-bottom: 20px;
}
.comment_card_footer{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
}
.comment_card_btn{
    background-color:transparent;
    font-size: 16px;
    padding: 10px 25px;
    color: white;
    border: 0.2px solid white;
    border-radius: 100px;
    opacity: 50%;
}
.comment_card_btn:hover{
    opacity: 100%;
    transition-duration: 0.2s;
}
.comment_like_icon{
    width: 35px;
    height: 35px;
}
#save_icon1 {
    display: none;
}