#content_container{
    max-width:1200px;
    width: 100%;
    margin-left: 5px;
    color: white;
    /*z-index: 1;*/
}
.player_header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 120px;
    padding-bottom: 20px;
}
.player_title{
    font-size: 30px; /*원래 있던것*/
    font-weight: bold; /*원래 있던것*/
    color: white;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    /* 여러 줄 자르기 추가 스타일 */
    white-space: normal; /*한줄로 보여주는거 해제*/
    height: 3.0em;
    text-align: left;
    word-wrap: break-word; /*잘라버릴 단위를 글자단위로*/
    display: -webkit-box;
    -webkit-line-clamp: 2; /*보여줄 라인 갯수*/
    -webkit-box-orient: vertical; /*플렉스 방향 설정*/

}
.save_content{
    display: flex;
    justify-content: right;
    bottom: 0;
}
.save_content_icon{
    width: 45px;
    padding-top: 25px;
    cursor: pointer;
}
.comment_header{
    position: relative;
}
.comment_title{
    padding-top: 60px;
    padding-bottom: 26px;
    font-size: 30px;
    font-weight: bold;
}
#comment_box{
    background-color: #3A3A3A;
    width: 1140px;
    border: 0.2px solid darkgray;
    border-radius: 0;
    font-size: 16px;
    padding: 30px;
    outline: none;
    resize: none;
    color: white;
}
.comment_save_wrap{
    width: 1200px;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top:0px;
}
#comment_cnt{
    color: #959595;
}
#comment_save{
    width: 100px;
    background-color: transparent;
    border: 0.2px solid white;
    border-radius: 5px;
    font-size: 16px;
    opacity: 50%;
    color: white;
    cursor: pointer;
}
#comment_save:hover{
    opacity:100%;
    transition-duration: 0.1s;
}
.comment_card {
    margin-top: 50px;
    border-bottom: 0.2px solid white;
}
.comment_card_header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.comment_card_profile{
    display: flex;
    flex-direction: row;
    align-items:center;
}
.comment_id{
    margin-right: 15px;
    font-size: 21px;
}
.comment_date{
    opacity: 50%;
    font-size: 14px;
}
.comment_delete_icon{
    width: 30px;
    opacity: 50%;
    cursor: pointer;
}
.comment_delete_icon:hover{
    opacity: 100%;
    transition-duration: 0.2s;
}
.comment_card_comment{
    margin-top: 15px;
    font-size: 16px;
    padding-bottom: 20px;
}
.comment_card_footer{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
}
.comment_card_btn{
    background-color:transparent;
    font-size: 16px;
    padding: 10px 25px;
    color: white;
    border: 0.2px solid white;
    border-radius: 100px;
    opacity: 50%;
    cursor: pointer;
}
.comment_card_btn:hover{
    opacity: 100%;
    transition-duration: 0.2s;
}
.comment_like_icon{
    width: 35px;
    height: 35px;
    cursor: pointer;
}
/*#save_icon1 {
    display: none;
}*/

#recommend_container {
    max-width: 300px;
    width: 100%;
    padding-top: 120px;
    margin-left: 20px;
    color: white;
}

#main_container {
    max-width: 1500px;
    width: 100%;
    display: flex;
    flex-direction: row;
    margin: auto;
}

.rec {
    max-width: 300px;
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rec_img{
    width: 250px;
}
.rec_title {
    color: white;
    margin-top: 10px;
    display: inline-block;
    width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    /* 여러 줄 자르기 추가 스타일 */
    white-space: normal; /*한줄로 보여주는거 해제*/
    /*height: 2.6em;*/
    text-align: left;
    word-wrap: break-word; /*잘라버릴 단위를 글자단위로*/
    display: -webkit-box;
    -webkit-line-clamp: 2; /*보여줄 라인 갯수*/
    -webkit-box-orient: vertical; /*플렉스 방향 설정*/
}

.rec_a {
    text-decoration: none;
}








.noComment {
}

