body {
    background-color: black;
    color: white;
    margin: 0 100px;
}

.main_content_box {
    margin: 30px;
}

.main_title {
    margin: 20px;
}

.main_content_movies {
    padding-top: 80px ;
    width: 100%;
    overflow: hidden;
    margin: 0 auto;
    position: relative;

}

video {
    width: 100%;
}

.this-text {
    position: absolute;
    top: 70%;
    left: 50%;
    width: 100%;
    transform: translate(-45%, -50%);

}

.this-text img{
    width: 22%;
    /*margin-left: 106px;*/
}

.this-text p {
    width: 100%; /*원래있던것*/
    margin-top: -10px;
    margin-left: 5px; /*원래있던것*/
    text-align: left; /*원래있던것*/
    /*font-size: 18px;*/
    font-size: 2vh;
    color: #ffffff; /*원래있던것*/
    /*display: inline-block;*/
    /*white-space: nowrap;*/
    /*overflow: hidden;*/
    /*text-overflow: ellipsis;*/
    /*!* 여러 줄 자르기 추가 스타일 *!*/
    /*white-space: normal; !*한줄로 보여주는거 해제*!*/
    /*!*height: 2.6em;*!*/
    /*text-align: left;*/
    /*word-wrap: break-word; !*잘라버릴 단위를 글자단위로*!*/
    /*display: -webkit-box;*/
    /*-webkit-line-clamp: 5; !*보여줄 라인 갯수*!*/
    /*-webkit-box-orient: vertical; !*플렉스 방향 설정*!*/
}

.play_button {
    text-decoration: none;
}

.play_button2 {
    text-decoration: none;
}

.content_box {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.main_movies_button {
    width: 5%;
    margin-left: 5px;
    font-weight: bold;
    font-size: 1.6vh;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border-radius: 100px;
    color: red;
    background-color: transparent;
    border: 1px solid white;
}

.main_movies_button:hover {
    border: 0;
    background-color: red;
    color: white;
}

.main_movies_button2 {
    width: 5%;
    font-weight: bold;
    margin-left: 5px;
    font-size: 1.6vh;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border-radius: 100px;
    color: red;
    background-color: transparent;
    border: 1px solid white;
}

.main_movies_button2:hover {
    border: 0;
    background-color: red;
    color: white;
}

.slide-wrapper {
    width: 100%;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    height: 192px;
}

.slides {
    position: absolute;
    width: 2650%;
}

ul {
    font-size: 0;

    padding-inline-start: 0px;

}

ul > li {
    display: inline-block;
    vertical-align: top;
    transition: 0.4s;
}

ul > li > a {
    display: block;
    width: auto;
    text-decoration: none;
    margin: 4px;
}

ul > li > a .screen {
    position: relative;
    overflow: hidden;
}

ul > li > a .screen .bottom {
    position: absolute;
    bottom: 150%;
    left: 30px;
    z-index: 2;
    color: #fff;
    font-size: 15px;
    transition: all .35s
}

ul > li > a .screen img {
    width: 100%;
}

ul > li > a:hover .bottom {
    top: 52%;
}

ul > li > a .screen::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(0, 0, 0, .5);
    z-index: 1;
    opacity: 0;
    transition: all .35s;
}

ul > li > a:hover .screen::after {
    opacity: 1;
}

.slider-btn {
    border: none;
    outline: none;
    font-size: 24px;
    background-color: black;
    color: white;
    /*border-radius: 50%;*/
    /*background: #9d1a1a;*/
    /*border: 2px red;*/
    transition: 0.4s;
}


.slider-btn:hover {
    color: red;
}


#a {
    align-items: center;
}

#sajin {
    width: 10px;
    height: 10px;

}

#container-a {

  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 60vh;
  background-image: url("https://www.youtube.com/embed/ayDrjUhSVwo");
  background-position: center ;
  background-size: cover;

}

#text1 {
    margin-left: 20px;
    font-size: 200%;
}

#text_title {
    font-size: 200%;
}

#sajin {
    width: 100%;
    height: 100%;

}