body {
    background-color: black;
    color: white;
    margin: 0 100px;
}

.main_content_box {
    margin: 30px;
}

.main_title {
    margin: 20px;
}

.main_content_movies {
    padding-top: 80px ;
    width: 100%;
    overflow: hidden;
    margin: 0 auto;

}

.this-text {
    position: absolute;
    top: 50%;
    width: 100%;
}

.this-text p {
    margin-top: -24px;
    margin-left: 110px;
    text-align: left;
    font-size: 18px;
    color: #ffffff;
}
.content_box {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.main_movies_button {
    margin: 20px 0 0 106px; width: 90px; height:40px
}
.main_movies_button2 {
    margin: 20px 0 0 10px; width: 90px; height:40px
}

.slide-wrapper {
    width: 100%;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    height: 192px;
}

.slides {
    position: absolute;
    width: 2650%;
}

ul {
    font-size: 0;

    padding-inline-start: 0px;

}

ul > li {
    display: inline-block;
    vertical-align: top;
    transition: 0.4s;
}

ul > li > a {
    display: block;
    width: auto;
    text-decoration: none;
    margin: 4px;
}

ul > li > a .screen {
    position: relative;
    overflow: hidden;
}

ul > li > a .screen .bottom {
    position: absolute;
    bottom: 150%;
    left: 30px;
    z-index: 2;
    color: #fff;
    font-size: 15px;
    transition: all .35s
}

ul > li > a .screen img {
    width: 100%;
}

ul > li > a:hover .bottom {
    top: 52%;
}

ul > li > a .screen::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(0, 0, 0, .5);
    z-index: 1;
    opacity: 0;
    transition: all .35s;
}

ul > li > a:hover .screen::after {
    opacity: 1;
}

.slider-btn {
    border: none;
    outline: none;
    font-size: 24px;
    background-color: black;
    color: white;
    /*border-radius: 50%;*/
    /*background: #9d1a1a;*/
    /*border: 2px red;*/
    transition: 0.4s;
}


.slider-btn:hover {
    color: red;
}


#a {
    align-items: center;
}

#sajin {
    width: 10px;
    height: 10px;

}

#container-a {

  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 60vh;
  background-image: url("https://www.youtube.com/embed/ayDrjUhSVwo");
  background-position: center ;
  background-size: cover;

}

#text1 {
    margin-left: 20px;
    font-size: 200%;
}

#text_title {
    font-size: 200%;
}

#sajin {
    width: 100%;
    height: 100%;

}