
#mypage_container{
    width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding-top: 80px;
}
.mypage_text{
    color: white;
    font-size: 20px;
}
.zzim_content{
    max-width: 100%;
    min-height: 60vh;
    display: flex;
    flex-flow: wrap;
    text-align: center
}
.zzim_box_item{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}
.zzim_box{
    width: 290px;
    margin: 5px;
}
.zzim_title{
    width:280px;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
    /*height=light-height*line 1.2*1줄*/
    line-height: 1.2em;
    height: 1.2em;
    margin-bottom: 25px;
    text-decoration-line: none;
    color: white;
}
.zzim_title:visited, .zzim_title:link, .zzim_title:hover{
    text-decoration-line: none;
}
.no_content{
    margin: 30px auto;
    width: 400px;
    height: 50vh;
    font-weight: bold;
    font-size: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;
    opacity: 40%;
}

