
#mypage_container{
    width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding-top: 80px;
}
.mypage_text{
    color: white;
    font-size: 30px;
}
.zzim_content{
    max-width: 100%;
    display: flex;
    flex-flow: wrap;
    margin-left: 25px;
    justify-content: start;

}
.zzim_box{
    background-color: plum;
    width: 130px;
    height: 130px;
    margin: 20px;
    /*display: None;*/
}
.no_content{
    margin: 30px auto;
    width: 400px;
    height: 100px;
    font-weight: bold;
    font-size: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #DD2839;
    opacity: 0.7;
}

