*{font-family: 'Noto Sans KR', sans-serif;}
body{
    margin: 0;
}
#section{
    width: 100%;
    margin: 0;
    display: block;
}
#signin_logo{
    width: 97%;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 35px;
    align-items: center;
    position: absolute;
    z-index: 10;
}
/*------signin_logo------*/
.logo_eng{
    width:200px;
}
.logo_kor{
    width: 200px;
    display:none;
}
.logo_eng:hover {
    display: none;
}
.logo_eng:hover ~ .logo_kor{
    display: block;
}
/*------signin_section------*/
#signin_box{
    width: 100%;
    margin-top: 300px;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    z-index: 9;
}
#signin_wrap{
    background-color: rgba(0, 0, 0, 0.5);
    width: 450px;
    border-radius: 30px;
    padding: 70px 10px;
}
.signin_inputs{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#username{
    margin-bottom: 15px;
}
.signin_input{
    width: 300px;
    padding: 15px;
    font-size: 18px;
    border-radius: 100px;
    color: white;
    background-color: #333333;
    border: 0 solid transparent;
}
#alert{
    color: #FA3441;
    margin-top: 10px;
    font-size: 16px;
}
#signup_text_wrap{
    font-size: 16px;
    color: white;
    opacity: 70%;
}
#signup_link:link {
    color: #FA3441;
    font-weight: bold;
    text-decoration: none;
}
#signin_btn{
    background-color: #DD2839;
    color: white;
    width: 300px;
    font-size: 20px;
    border: 0 solid transparent;
    border-radius: 100px;
    padding: 15px 10px;
}
#signin_btn:hover{
    background-color: #FA3441;
    font-weight: bold;
}
/*-------------------------*/
#signin_back{
    width: 100%;
    margin: 0;
    position: relative;
    z-index: 1;
}
#signin_back img{
    width: 100%;
}
#signin_back2{
    width: 100%;
    margin-top: -10px;
}
#signin_back2 img{
    width: 100%;
}
#signin_back3{
    width: 100%;
    margin-top: -10px;
}
#signin_back3 img{
    width: 100%;
}
#signin_back4{
    width: 100%;
    margin-top: -10px;
}
#signin_back4 img{
    width: 100%;
}

/*.logo {*/
/*    position: absolute;*/
/*    top: 0px;*/
/*}*/

/*.login-input {*/
/*    position: absolute;*/
/*    left: 500px;*/
/*    top: 150px;*/
/*    padding: 30px;*/
/*    width: 500px;*/
/*    height: 300px;*/
/*    background-color: black;*/
/*    background-color: rgba(0, 0, 0, 0.5);*/
/*    text-align: center;*/
/*    border-radius: 10px;*/
/*}*/

/*#login-text {*/
/*    font-family: sans-serif;*/
/*    font-size: 40px;*/
/*    color: white;*/
/*    letter-spacing: 10px;*/
/*    margin: 0;*/
/*}*/

/*.login-1 {*/
/*    position: relative;*/
/*    margin: 10px 0;*/
/*    color: white;*/
/*}*/

/*.login-1 > input {*/
/*    background: transparent;*/
/*    border: none;*/
/*    border-bottom: solid 1px #ccc;*/
/*    padding: 20px 0px 5px 0px;*/
/*    font-size: 14pt;*/
/*    width: 400px;*/
/*    color: white;*/
/*}*/

/*input::placeholder {*/
/*    color: transparent;*/
/*}*/

/*input:placeholder-shown + label{*/
/*    color:#aaa;*/
/*    font-size:14pt;*/
/*    top:15px;*/
/*}*/

/*input:focus + label, label{*/
/*    color:#aaaaaa;*/
/*    font-size:10pt;*/
/*    pointer-events: none;*/
/*    position: absolute;*/
/*    left:49px;*/
/*    top:0px;*/
/*    transition: all 0.2s ease ;*/
/*    -webkit-transition: all 0.2s ease;*/
/*    -moz-transition: all 0.2s ease;*/
/*    -o-transition: all 0.2s ease;*/
/*}*/

/*input:focus, input:not(:placeholder-shown){*/
/*    border-bottom: solid 1px #8aa1a1;*/
/*    outline:none;*/
/*}*/

/*.login-btn {*/
/*    background-color: #DD2839;*/
/*    color: white;*/
/*    font-size: 18px;*/
/*    border: none;*/
/*    border-radius: 100px;*/
/*    margin: 30px 0;*/
/*    width: 400px;*/
/*    height: 40px;*/
/*}*/

/*.login-btn:hover {*/
/*    background-color: #FA3441;;*/
/*    color: white;*/
/*}*/

/*#login-box-text {*/
/*    font-size: 16px;*/
/*    color: #737373;*/
/*}*/

/*a {*/
/*    color: white;*/
/*}*/



/*.story-card {*/
/*    font-family: sans-serif;*/
/*}*/

/*.story-section {*/
/*    background-size: cover;*/
/*    width: 100%;*/
/*    height: 703px;*/
/*    padding: 70px;*/
/*    border-bottom: 10px solid #191919;*/
/*}*/

/*.story-section-2 {*/
/*    height: 450px;*/
/*    border-bottom: 10px solid #191919;*/


/*}*/

/*.story-section-3 {*/
/*    height: 450px;*/
/*    border-bottom: 10px solid #191919;*/
/*}*/

/*.story-section-4 {*/
/*    height: 500px;*/
/*    border-bottom: 10px solid #191919;*/
/*}*/


/*.text-section {*/
/*    width: 52%;*/
/*    height: 100%;*/
/*    padding-top: 100px;*/
/*    padding-left: 100px;*/
/*}*/

/*.text-section-1 {*/
/*    width: 500px;*/
/*    height: 400px;*/
/*    position: absolute;*/
/*    right: 100px;*/
/*    padding-top: 80px;*/

/*}*/

/*.text-section-2 {*/
/*    width: 500px;*/
/*    height: 400px;*/
/*    position: relative;*/
/*    top: 70px;*/
/*    left: 100px;*/

/*}*/

/*.img-box {*/
/*    position: absolute;*/
/*    width: 700px;*/
/*    height: 400px;*/
/*    top: 880px;*/
/*    right: -10px;*/
/*}*/

/*.img-box-1 {*/
/*    width: 465px;*/
/*    height: 260px;*/
/*    position: relative;*/
/*    top: 100px;*/
/*    right: -85px;*/
/*}*/

/*.com-img {*/
/*    position: relative;*/
/*    z-index: 1;*/
/*}*/

/*.room-img {*/
/*    width: 110%;*/
/*    height: 110%;*/
/*    display: inline-block;*/
/*    position: relative;*/
/*    top: -483px;*/

/*}*/

/*.phone {*/
/*    height: 450px;*/
/*    position: absolute;*/
/*    left: 50px;*/
/*    z-index: 1;*/
/*}*/

/*.spam {*/
/*    position: relative;*/
/*    width: 240px;*/
/*    height: 310px;*/
/*    top: 130px;*/
/*    left: 230px;*/
/*    border-radius: 10px;*/
/*    z-index: 2;*/
/*}*/

/*.phone-text {*/
/*    border: 2px solid gray;*/
/*    width: 300px;*/
/*    height: 100px;*/
/*    position: relative;*/
/*    top: 20px;*/
/*    left: 200px;*/
/*    z-index: 3;*/
/*    background-color: black;*/
/*    border-radius: 10px;*/
/*    padding-left: 20px;*/
/*}*/

/*.down-img {*/
/*    background: url("https://assets.nflxext.com/ffe/siteui/acquisition/ourStory/fuji/desktop/download-icon.gif");*/
/*    width: 100px;*/
/*    height: 100px;*/
/*    position: relative;*/
/*    top: -60px;*/
/*    left: 190px;*/
/*}*/

/*.apple-1 {*/
/*    position: relative;*/
/*    left: 800px;*/
/*    top: -400px;*/
/*    width: 500px;*/

/*}*/


/*.story-section:before {*/
/*    content: '';*/
/*    background: linear-gradient(to top, black, transparent);*/
/*    position: absolute;*/
/*    left: 0;*/
/*    height: 110%;*/
/*    width: 110%;*/
/*}*/


/*#text-1-1 {*/
/*    color: white;*/
/*    font-size: 4em;*/
/*    position: absolute;*/
/*    top: 200px;*/
/*    left: 490px;*/
/*    font-family: sans-serif;*/
/*}*/

/*#text-1-2 {*/
/*    color: white;*/
/*    font-size: 2em;*/
/*    position: absolute;*/
/*    top: 350px;*/
/*    left: 500px;*/
/*    font-family: sans-serif;*/
/*}*/

/*#text-1-3 {*/
/*    color: white;*/
/*    font-size: 2em;*/
/*    position: absolute;*/
/*    top: 400px;*/
/*    left: 420px;*/
/*    font-family: sans-serif;*/
/*}*/

/*#text-2, #text-4 {*/
/*    color: white;*/
/*    font-size: 4em;*/

/*}*/

/*#text-2-1, #text-3-1, #text-4-1 {*/
/*    color: white;*/
/*    font-size: 2em;*/
/*}*/

/*#text-3 {*/
/*    color: white;*/
/*    font-size: 4em;*/
/*    text-align: center;*/
/*}*/

/*#text-3-2 {*/
/*    color: white;*/
/*    font-size: 20px;*/
/*    position: relative;*/
/*    top: 20px;*/
/*}*/