<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="./main/static/base.css">

</head>
<body>
<nav>
    <div class="logo">
        <img src="main/img/logo4.png">
    </div>
    <div class="nav-list">
        <div class="signin">
            <a href="/signin">
                <button class="btn">로그인</button>
            </a>
        </div>
        <div class="signup">
            <a href="/signup">
                <button type="button" class="btn">회원가입</button>
            </a>
        </div>
        <div class="logout">
            <a href="/logout">
                <button type="button" class="btn">로그아웃</button>
            </a>
        </div>
        <div class="my-page">
            <a href="/mypage">
               <img class="page-logo" src="https://occ-0-3077-988.1.nflxso.net/dnm/api/v6/K6hjPJd6cR6FpVELC5Pd6ovHRSk/AAAABbme8JMz4rEKFJhtzpOKWFJ_6qX-0y5wwWyYvBhWS0VKFLa289dZ5zvRBggmFVWVPL2AAYE8xevD4jjLZjWumNo.png?r=a41">
            </a>
        </div>
    </div>

</nav>

</body>
</html>