section {
    background: url("https://assets.nflxext.com/ffe/siteui/vlv3/9737377e-a430-4d13-ad6c-874c54837c49/945eec79-6856-4d95-b4c6-83ff5292f33d/KR-ko-20220111-popsignuptwoweeks-perspective_alpha_website_large.jpg");
    background-size: cover;
    width: 100%;
    height: 100vh;
}

body {
    margin: 0;
}

.login-input {
    position: absolute;
    left: 500px;
    top: 150px;
    padding: 30px;
    width: 500px;
    height: 400px;
    background-color: black;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    border-radius: 10px;
}

#login-text {
    font-family: sans-serif;
    font-size: 30px;
    color: white;
    letter-spacing: 10px;
    margin: 0;
}

.login-1 {
    position: relative;
    margin: 10px 0;
    color: white;
}

.login-1 > input {
    background: transparent;
    border: none;
    border-bottom: solid 1px #ccc;
    padding: 20px 0px 5px 0px;
    font-size: 14pt;
    width: 400px;
    color: white;
}

input::placeholder {
    color: transparent;
}

input:placeholder-shown + label {
    color: #aaa;
    font-size: 14pt;
    top: 15px;
}

input:focus + label, label {
    color: #aaaaaa;
    font-size: 10pt;
    pointer-events: none;
    position: absolute;
    left: 49px;
    top: 0px;
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
}

input:focus, input:not(:placeholder-shown) {
    border-bottom: solid 1px #8aa1a1;
    outline: none;
}

.login-btn {
    background-color: red;
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 7px;
    font-family: sans-serif;
    margin: 40px 0;
    width: 400px;
    height: 40px;
}

.login-btn:hover {
    background-color: orangered;
    color: white;
}

.login-btn:active {
    background-color: darkred;
    color: white;
}

#login-box-text {
    font-size: 16px;
    color: #737373;
}