<!DOCTYPE html>
{% load static %}
{% block content %}
    <link rel="stylesheet" href="{% static 'signup.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="../static/image/favicon.ico">
    <section id="section">
        <div id="signup_logo">
            <a href="/sign-in">
                <img class="logo_eng" src="../../static/image/Honflix_logo_eng.png">
                <img class="logo_kor" src="../../static/image/Honflix_logo_kor2.png">
            </a>
        </div>
        <div id="signup_box">
            <div id="signup_wrap">
                <form class="form-area" method="post" action="/sign-up/">
                    {% csrf_token %}
                    <div class="signup_inputs">
                        <input id="username" class="signup_input" type="text" name="username" placeholder="UserID">
                        <input id="password" class="signup_input" type="password" name="password" placeholder="Password">
                        <input id="nickname" class="signup_input" type="text" name="nickname" placeholder="Nickname">
                        <input id="email" class="signup_input" type="text" name="email" placeholder="Email">
                        {% if error %}
                            <div id=alert class="alert alert-danger" role="alert">
                                {{ error }}
                            </div>
                        {% endif %}
                        <button id="signup_btn">Sign Up</button>
                    </div>
                </form>
            </div>
        </div>
        <div id="signup_back">
            <img src="../static/image/hon1.jpg"/>
        </div>
    </section>
{% endblock %}