<!DOCTYPE html>
{% load static %}
{% block content %}
     <link rel="stylesheet" href="{% static 'signup.css' %}">
<section>
    <div class="nav-bar">
        <img class="logo" src="../img/logo4.png">
    </div>
    <div class="login-box">
        <div class="login-input">
            <h1 id="login-text">회원가입</h1>
            <form class="form-area" method="post" action="/sign-up/">
            {% csrf_token %}
            <div class="login-1">
                <input id="username" type="text" name="username" placeholder="아이디">
                <label for="username">아이디</label>
            </div>
            <div class="login-1">
                <input id="password" type="password" name="password" placeholder="비밀번호">
                <label for="password">비밀번호</label>
            </div>
            <div class="login-1">
                <input id="nickname" type="text" name="nickname" placeholder="닉네임">
                <label for="nickname">닉네임</label>
            </div>
            <div class="login-1">
                <input id="email" type="text" name="email" placeholder="이메일">
                <label for="email">이메일</label>
            </div>
            <button class="login-btn">회원가입</button>
            </form>
        </div>

    </div>
</section>

{% endblock %}