<!DOCTYPE html>
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'signin.css' %}">
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap" rel="stylesheet">
<link rel="shortcut icon" href="../static/image/favicon.ico">
<audio src="../../static/audio/honflix_effect.mp3" autoplay="autoplay"></audio>
<section id="section">
    <div id="signin_logo">
        <a href="/sign-in">
            <img class="logo_eng" src="../../static/image/Honflix_logo_eng.png">
            <img class="logo_kor" src="../../static/image/Honflix_logo_kor2.png">
        </a>
    </div>
    <div id="signin_box">
        <div id="signin_wrap">
            <form class="form=area" method="post" action="/sign-in/">
                {% csrf_token %}
                <div class="signin_inputs">
                    <input id="username" class="signin_input" type="text" name="username" placeholder="UserID">
                    {# <label for="username">아이디</label>#}
                    <input id="password" class="signin_input" type="password" name="password" placeholder="Password">
                    {# <label for="password">비밀번호</label>#}
                    {% if error %}
                    <div id=alert class="alert alert-danger" role="alert">
                        {{ error }}
                    </div>
                    {% endif %}
                    <div id="signup_text_wrap">
                        <p id="signup_text">
                            HONFLIX회원이 아닌가요?
                            <a id="signup_link" href="/sign-up">지금 가입하세요.</a>
                        </p>
                    </div>
                </div>
                <button id="signin_btn">Sign In</button>
            </form>
        </div>
    </div>
    <div id="signin_back">
        <img src="../static/image/hon1.jpg"/>
    </div>
    <div id="signin_back2">
        <img src="../static/image/hon3.jpg"/>
    </div>
    <div id="signin_back3">
        <img src="../static/image/hon4.jpg"/>
    </div>
    <div id="signin_back4">
        <img src="../static/image/hon5.jpg"/>
    </div>

</section>

{% endblock %}